<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/admin.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
<body>
    <header>
        <%include file="admin_header.html"/>
    </header>
    <div id="container">
        <aside>
            <%include file="admin_aside.html"/>
        </aside>
        ${self.body()}
    </div>
</body>
</html>
